* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
}
.buttons {
  height: 100px;
  position: relative;
  background: linear-gradient(45deg, #86b836, rgb(85, 209, 63));
  display: flex;
  justify-content: space-evenly;
}
.buttons button {
  width: 50px;
  height: 50px;
  margin-top: 30px;
}
p {
  height: 400px;
  position: relative;
  background: linear-gradient(135deg, orange 20%, cyan);
  font-size: 3rem;
  text-align: center;
  padding-top: 200px;
}
